@model InvoiceVm
@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>
<style> 
    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }

    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }</style>
<div class="container">
    <div class="jumbotron"></div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="invoice-title">
                <h2>Invoice</h2>
                <h3 class="pull-right">Order # 12345</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-xs-6 text-left pull-left">
                  
                        <ul id="UpdateCust"></ul>
                   
                </div>
                <div class="col-md-4 col-xs-2"></div>
                <div class="col-md-4 col-xs-6 text-left">
                    <address>
                        <ul id="UpdateComp"></ul>
                       
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Payment Method:</strong><br>
                        Visa ending **** 4242<br>
                        jsmith@email.com
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Order Date:</strong><br>
                        March 7, 2014<br><br>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Order summary</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td><strong>Item</strong></td>
                                <td class="text-center"><strong>Price</strong></td>
                                <td class="text-center"><strong>Quantity</strong></td>
                                <td class="text-right"><strong>Totals</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                            <tr>
                                <td>BS-200</td>
                                <td class="text-center">$10.99</td>
                                <td class="text-center">1</td>
                                <td class="text-right">$10.99</td>
                            </tr>
                            <tr>
                                <td>BS-400</td>
                                <td class="text-center">$20.00</td>
                                <td class="text-center">3</td>
                                <td class="text-right">$60.00</td>
                            </tr>
                            <tr>
                                <td>BS-1000</td>
                                <td class="text-center">$600.00</td>
                                <td class="text-center">1</td>
                                <td class="text-right">$600.00</td>
                            </tr>
                            <tr>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                <td class="thick-line text-right">$670.99</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-center"><strong>Shipping</strong></td>
                                <td class="no-line text-right">$15</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-center"><strong>Total</strong></td>
                                <td class="no-line text-right">$685.99</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        getCustomerInvo(1);
        getCompanyInvo(1);


    });
    function getCustomerInvo(id) {
        var url = '@Url.Action("GetCustomerJson")' +"?id="+id;

        $.getJSON(url,
            function (data) {

                loadData(data);

            });
    }
    function getCompanyInvo(id) {
        var url = '@Url.Action("GetCompanyJson")' +"?id="+id;

        $.getJSON(url,
            function (data) {

                loadDataComp(data);

            });
    }
    function loadDataComp(data) {

        //console.log(data);
        //Here i will format & load/Show data
        var tab = $('<table class="table myTable"></table>');


        var ulList = $('<ul></ul>');
        ulList.append(
            '<li class=""><strong> Företag Info: </strong></li>' +
            //'<li class="list-group-item">FullName: ' + '<span class="">' + data.customerId + '</span>'+ '</li>'+
            '<li class=""> ' + '<span class="">' + data.CompanyName + '</span>'+ '</li>'+
            //'<li class="list-group-item">ContactPerson: ' + data.contactPerson + '</li>' +
            //'<li class="list-group-item">ContactTitle: ' + data.contactTitle + '</li>' +
            '<li class=""> ' + data.address + '</li>' +
            '<li class=""> ' + data.city + '</li>' +
            '<li class=""> ' + data.postCode + '</li>' +
            '<li class=""> ' + data.region + '</li>' +
            '<li class=""> ' + data.country + '</li>' +
            '<li class=""> ' + data.phone + '</li>' +
            //'<li class="list-group-item">Phone2: ' + data.phone2 + '</li>' +
            //'<li class="list-group-item">Fax: ' + data.fax + '</li>' +
            '<li class=""> ' + data.email + '</li>' +
            '<li class=""> ' + data.Website + '</li>' +
            //'<li class="list-group-item">Notes: ' + data.notes + '</li>' +
            '<li>'+

            '</li>'
        );



        $('li:odd', ulList).css('background-color', 'lightgray');


        $('#UpdateComp').html(ulList);
        //document.getElementById("UpdateCust").innerHTML = tab;
    }
    function loadData(data) {

        //console.log(data);
        //Here i will format & load/Show data
        var tab = $('<table class="table myTable"></table>');


        var ulList = $('<ul></ul>');
        ulList.append(
            '<li class=""><strong> Billed To: </strong></li>' +
            //'<li class="list-group-item">FullName: ' + '<span class="">' + data.customerId + '</span>'+ '</li>'+
            '<li class=""> ' + '<span class="">' + data.fullName + '</span>'+ '</li>'+
            //'<li class="list-group-item">ContactPerson: ' + data.contactPerson + '</li>' +
            //'<li class="list-group-item">ContactTitle: ' + data.contactTitle + '</li>' +
            '<li class=""> ' + data.address + '</li>' +
            '<li class=""> ' + data.city + '</li>' +
            '<li class=""> ' + data.postCode + '</li>' +
            '<li class=""> ' + data.region + '</li>' +
            '<li class=""> ' + data.country + '</li>' +
            '<li class=""> ' + data.phone + '</li>' +
            //'<li class="list-group-item">Phone2: ' + data.phone2 + '</li>' +
            //'<li class="list-group-item">Fax: ' + data.fax + '</li>' +
            '<li class=""> ' + data.email + '</li>' +
            //'<li class="list-group-item">Notes: ' + data.notes + '</li>' +
            '<li>'+

            '</li>'
        );



        $('li:odd', ulList).css('background-color', 'lightgray');


        $('#UpdateCust').html(ulList);
        //document.getElementById("UpdateCust").innerHTML = tab;
    }

</script>
    @*<div class="table-responsive borderless">
        <table class="table table-striped ">
            <tbody>
            <tr>
                <th>Row</th>
                <td>1</td>

            </tr>
            <tr>
                <th>First Name</th>
                <td>John</td>

            </tr>
            <tr>
                <th>Last Name</th>
                <td>Carter</td>

            </tr>
            <tr>
                <th >Email</th>
                <td rowspan="3">johncarter@mail.com, johncarter@mail.com, johncarter@mail.com, johncarter@mail.com </td>

            </tr>
            </tbody>
        </table>
    </div>*@